<div class="tools">
    <div class="label">Zoom:</div>
    <select #zoomSelect (change)="setZoomLevel(parseFloat(zoomSelect.value))" [value]="zoomLevel">
        <option *ngFor="let opt of zoomOptions" 
                class="zoom" 
                [selected]="zoomLevel === opt.value"
                [value]="opt.value">
            {{opt.label}}
        </option>
    </select>

    <div class="label">Pen size:</div>
    <button *ngFor="let opt of penSizeOptions" 
            class="pen-size" 
            [class.selected]="opt.size === penSize"
            (click)="setPenSize(opt.size)">
        <span [style.width.px]="opt.size" [style.height.px]="opt.size"></span>
    </button>

    <div class="label">Pen color:</div>
    <button *ngFor="let opt of penColorOptions" 
            class="pen-color" 
            [class.selected]="opt.color === penColor"
            (click)="setPenColor(opt.color)">
        <span [style.background]="opt.color" ></span>
    </button>

    <div class="spring"></div>

    
    <button class="undo" title="Undo" (click)="undoAnnotation()" [disabled]="annotations.length === 0">
        ↺
    </button>

    <button class="clear" title="Clear all" (click)="clearAnotations()" [disabled]="annotations.length === 0">
        🗑
    </button>

    <button class="full-screen" title="Clear all" (click)="toggleFullScreen()">
        ⛶
    </button>

</div>
<div #imgContainer class="img-container">
    <div #canvas class="canvas">
        <img #image [src]="imageUrl" (load)="onScreenshotLoad($event)" >
        <svg #svg></svg>
    </div>
</div>