<div class="tools">
    <div class="label">Zoom:</div>
    <select #zoomSelect (change)="setZoomLevel(parseFloat(zoomSelect.value))">
        <option class="zoom" *ngFor="let opt of zoomOptions" [value]="opt.value" >
            {{opt.label}}
        </option>
    </select>

    <div class="label">Pen size:</div>
    <button *ngFor="let opt of penSizeOptions" 
            class="pen-size" 
            [class.selected]="opt.size === penSize"
            (click)="setPenSize(opt.size)">
        <span [style.width.px]="opt.size" [style.height.px]="opt.size"></span>
    </button>

    <div class="label">Pen color:</div>
    <button *ngFor="let opt of penColorOptions" 
            class="pen-color" 
            [class.selected]="opt.color === penColor"
            (click)="setPenColor(opt.color)">
        <span [style.background]="opt.color" ></span>
    </button>

    <div class="spring"></div>

    <button class="undo" title="Undo" (click)="undoAnnotation()" [disabled]="annotations.length === 0">
        ↺
    </button>

</div>
<div #canvas class="canvas">
    <div #image class="image">
        <img [src]="imageUrl" (load)="onScreenshotLoad($event)" >
        <svg #svg></svg>
    </div>
</div>