
.container {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    background: #adc5e6;
    width: 350px;
    padding: 20px 20px 16px 20px;
    border-radius: 10px;

    img {
        width: 100%;
    }
}

.title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.desc {
    display: block;
    margin-bottom: 10px;
    color: #5f6368;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


