:host {
    display: block;
    border-top: 1px solid #cacdd1;
    border-bottom: 1px solid #cacdd1;
    padding: 10px;
}

.tabs {
    display: flex;

    .tab {
        border: 1px solid blue;
        padding: 2px 5px;
        cursor: pointer;

        &:hover,
        &.active {
            background: blue;
            color: white;
        }
    }
}

.section {
    

    //&:not(.first) {
        margin-top: 20px;
    //}
    .title {
        font-weight: bold;
    }


}

.labeled-value {
    padding-left: 15px;
    margin: 5px 0;
    .label {
        display: inline-block;
        color: #5f6368;
        font-weight: bold;
        
        margin-right: 5px;
    }
    .value {
        font-family: 'Courier New', Courier, monospace;
        word-break: break-all;
    }
}

.response-content {
    word-break: break-all;
    white-space: pre;
}