:host {
    display: block;    
}

:host(.in-drawer) {
    height: 100%;
}

.tabs {
    display: flex;
    background: #f1f3f4;
    line-height: 30px;
    border-bottom: 1px solid #cacdd1;

    .tab {
        border-bottom: 2px solid transparent;
        padding: 0 10px;
        cursor: pointer;
        color: #72757b;

        &:hover,
        &.active {
            border-bottom-color: #1a73e8;
            color: black;
        }
    }
}

.headers-tab,
.payload-tab,
.preview-tab
 {
    padding: 0 10px;
}

.section {
    

    //&:not(.first) {
        margin-top: 20px;
    //}
    .title {
        font-weight: bold;
    }


}

.labeled-value {
    padding-left: 15px;
    margin: 5px 0;
    .label {
        display: inline-block;
        color: #5f6368;
        font-weight: bold;
        
        margin-right: 5px;
    }
    .value {
        font-family: 'Courier New', Courier, monospace;
        word-break: break-all;
    }
}

.image-preview {
    text-align: center;
    padding: 20px;

    img {
        max-width: 300px;
        max-height: 300px;
        background-position: 0px 0px, 10px 10px;
        background-size: 20px 20px;
        background-image: 
                linear-gradient(45deg, #cccccc 25%, transparent 25%, transparent 75%, #cccccc 75%, #cccccc 100%),
                linear-gradient(45deg, #cccccc 25%, white 25%, white 75%, #cccccc 75%, #cccccc 100%);
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    }
}

.html-preview {
    margin: 10px;
    flex: 1;
    
    iframe {
        border: 0;
        box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
        width: 100%;
        height: 100%;
    }
}

.json-preview {
    margin-left: 5px;
}


:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.response-tab {
    flex: 1;
}

ngx-codemirror,
:host ::ng-deep .CodeMirror  {
    height: 100%;
}